/* Small Devices, Tablets */
@media only screen and (max-width : 380px) {
 .second img{
 	width: 100%;
 	height: auto;
 	margin-bottom: 20px;
 }

}

@media only screen and (max-width : 991px) {
	.pad-right{
		 padding-right: 0; /*не працює*/
	}
}

@media only screen and (max-width : 768px){
	.navbar-header h1{padding-left: 10px;}
	header ul{ padding-right: 10px;}
	header nav a {
		float: none;
		margin-left: 10px;}
}