
@font-face{
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: HelveticaNeue;
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}

h1, h2, h3, h4, h5, h6{
    font-family: Bebas;
    color: #e8603c;
}
.container{
    border: 10px solid #fefefe;
    border-top: none;
    border-bottom: none;
    padding-left: 0;
    padding-right: 0;  
    position: relative; 
}

.pad-right{
    padding-right: 25px;
}

header{
    min-height: 75px;
    background-color: #ffffff;
}

header h1{  
    float: left;
    font-size: 45px;
    font-weight: bold;
    margin-top: 12px;
    text-transform: uppercase;
    
}

header h1 span:first-child{
    color: #F15F36;
}

header h1 span:last-child{
    color: #F5B19C;
}

a,a:hover{text-decoration: none;}

header nav a{
    float: right;
    font-family: Bebas;
    font-size: 20px;
    font-weight: bold;
    
    margin-left: 30px;
    color: #d6d6d6;
    text-transform: uppercase;
}

header nav a:hover{color: #f0836a;}
header nav a.active {color: #F15F36;}



/*title*/

.title-bg{
    background-color: #f3ae97;
    height: 61px;
}

.title{
    margin-bottom: 23px;
    height: 61px;
    background-color: #e8663c;
}

.title h1{
    color: white;
    font-weight: bold;
    font-size: 28px; 
    margin-top: 0;
    padding: 17px 17px;
}

/*right sidebar*/

.about h4{
    background: url('../img-blog/line.gif') repeat-x;
    height: 16px;
    margin: 0;
}

.about span{
    background-color: #ffffff;
    text-align: left;
    padding-right: 22px;
    color: #e8603c;
    font-size: 20px;
    padding-top: 2px;
}

.about p{
    color: #595252;
    padding-top: 22px;
    padding-bottom: 40px;
}

.about a{
    font-size: 12px;
    color: #595252;
    text-decoration: none;
    line-height: 12px;
    
}

.about a:hover{color: #f0836a;}

.about ul{
  line-height: 15px;
  padding-top: 22px;
  padding-left: 0;
  padding-bottom: 40px;
  list-style-type: none;
} 


.gallery > div{
    padding-left: 0;
    padding-top: 20px;
    padding-right: 6px;
    padding-bottom: 35px;

}
.pg-1 {
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/pg-1.jpg'); 
    background-repeat: no-repeat;
    background-size:  auto 100% ;
    height: 50px;
    width: 50px;
    float: left;

   }

.pg-2 {
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/pg-2.jpg');
    background-repeat: no-repeat;
    background-size:  auto 100% ;
    height: 50px;
    width: 50px;
    float: left;
   }

/*blog*/

.posit {position: relative;}

.left-icon-1 {
    position: absolute;
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/left-icon-1.jpg'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55px;
    width: 55px;
    top: 25px;
    left: -65px;
    z-index: 10;
    display: inline-block;

}

.left-icon-2 {
    position: absolute;
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/left-icon-2.jpg'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55px;
    width: 55px;
    top: 0;
    left: -55px;
    z-index: 10;
    display: inline-block;
}

.left-icon-3 {
    position: absolute;
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/left-icon-3.jpg'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55px;
    width: 55px;
    top: 0;
    left: -55px;
    z-index: 10;
    display: inline-block;
}

.left-icon-4 {
    position: absolute;
    background-color: #f3af9d;
    border: 1px solid #e8603c;
    background-image: url('../img-blog/left-icon-4.jpg'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55px;
    width: 55px;
    top: 0;
    left: -55px;
    z-index: 10;
    display: inline-block;
}

/*post1*/

h3{
    font-size: 14px;
    margin-top: 24px; 
    
}
p{
    font-size: 12px;
    color: #dcdada;
}

h2{
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 20px; 
    padding-left: 24px;
}
#p-black1{
    color: #595252;
    padding-left: 24px;
    padding-bottom: 24px;
    margin: 0;
}

 #p-black2{
    color: #595252;
    padding-left: 24px;
    padding-bottom: 50px;
    margin: 0;
 }

.line div{
    background: url('../img-blog/line.gif') repeat-x;
    height: 18px;
    margin-bottom: 44px;
}

#post2{
    display: block;
    max-width: 100%;
    height: auto;
    
}


/*carousel*/
#carousel{
    position: relative;
}


.carousel-inner{
    width: 100%;
}
 
.left.carousel-control{
    position: absolute;
    background-image: url('../img-blog/prev.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    height: 55px;
    width: 55px;
    top: 40%;
    left: 20px;
    z-index: 10;
   }

.right.carousel-control{
    position: absolute;
    background-image: url('../img-blog/next.png'); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    height: 55px;
    width: 55px;
    top: 40%;
    /*right: 26px;*/
    z-index: 10;
   }

.img1{
    background: url('../img-blog/01.jpg') no-repeat center;
   background-size: cover; 
    height: 300px;
    
}

.img2{
    background: url('../img-blog/02.jpg') no-repeat center;
   background-size: cover; 
    height: 300px;
    
}

/*відео*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*jumbotron*/

blockquote {
    background: #f7f7f7;
    font-style: italic;
    padding: 0.5em 10px;
    border-left: none;
    margin-bottom: 50px;

}
 
blockquote:before {
    color: #e8603c;
    content: "\201C"; /* Непечатаемый символ слева */
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -.4em;

}
blockquote > p:first-child {
    display: inline;
    color: black;
}




/*last*/
.last h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

.last p{
    padding-top: 12px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;

}

.last #p-black3{
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 50px;
    color: #595252;

}

/*buttom*/

.line .but{
    background-color: #e8663c;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-family: Bebas;
    font-weight: bold;
    height: 26px;
    width: 26px;
    color: #fff;
    padding: 0;
    border-radius: 0;
    margin-bottom: 50px;

}

.line .btn2,
.line .btn3{
    background-color: #f4bba8;
}

.line .btn2:hover{background-color: #e8663c;}
.line .btn3:hover{background-color: #e8663c;}

   /*footer*/
.footer{background-color: #e8663c;
}

.footer h4{
    color: white;
    font-size: 25px;
    margin: 34px 34px 22px;
    letter-spacing: 1px;
}

.footer p{
    font-size: 12px;
    margin-left: 33px;
    padding-right: 10px;
    color: #fff;
    line-height: 15px;
    /*padding-bottom: 33px;*/
}

.footer span{
    color: #f7b39d;
}

.social a{
    float: left;
}

.social li{
    padding-left: 0;
    padding-right: 0;
}

.social ul{
    margin-left: 33px;
}
.footer-bg{background-color: #f3ae97;}

/**/

.ryad{
   
    display: block;
    float: none;
    
}